html {
  font-size: 62.5%; }

body {
  background-color: #3E3636;
  font-family: 'Anton', sans-serif; }

#inicio {
  margin-left: 40px;
  font-size: 21px;
  text-decoration: none;
  padding: 8px;
  color: #F5EDED;
  text-transform: uppercase;
  cursor: pointer; }
  #inicio:hover {
    background-color: #D72323;
    transition: 1s; }

#header nav ul li a {
  font-size: 21px;
  text-decoration: none;
  padding: 8px;
  color: #F5EDED;
  text-transform: uppercase;
  cursor: pointer; }
  #header nav ul li a:hover {
    background-color: #D72323;
    transition: 1s; }

#logoMenu {
  height: 80px;
  width: 400px; }

#menuFooter ul li {
  display: flex;
  justify-content: end;
  margin-top: 10px;
  list-style: none; }
  #menuFooter ul li a {
    font-weight: bold;
    font-size: 10px;
    color: #F5EDED;
    text-decoration: none; }

#redes {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  #redes h3 {
    color: #F5EDED; }

#derechos {
  text-align: center;
  color: #F5EDED;
  margin-bottom: 1px;
  font-size: 10px;
  font-weight: bold;
  margin-top: 0px; }

#logoWsp {
  height: 30px;
  width: 30px; }

#logoFace {
  height: 30px;
  width: 30px; }

#logoIgFooter {
  height: 30px;
  width: 30px; }

footer {
  background-color: #641515; }

@media (max-width: 400px) {
  #menuFooter ul li {
    display: flex;
    justify-content: center; }
  #redes {
    margin-top: 10px; } }

#nosotros {
  background-color: #F5EDED; }

.principal__imagen {
  height: 500px;
  width: 1345px;
  margin-top: 5px;
  margin-left: 1px; }

#nosotros__imagen {
  height: 350px;
  width: 430px;
  margin-top: 45px;
  margin-bottom: 50px;
  margin-left: 15px;
  border-radius: 15px; }

.nosotros__titulo {
  text-align: center;
  font-size: 45px;
  margin-top: 40px;
  color: #3E3636; }

.nosotros__p {
  text-align: justify;
  margin-left: 10px;
  margin-bottom: 60px;
  font-size: 20px;
  color: #3E3636; }

#marcas {
  padding: 30px;
  background-image: linear-gradient(black, rgba(0, 0, 0, 0.507)), url(../images/bancodetrabajo.jpg);
  background-position: center; }

#marcas__titulo, #proveedores__titulo {
  font-style: normal;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #F5EDED; }

#marcas__imagenes {
  margin-top: 20px; }

#marcas__imagenFord {
  height: 200px;
  width: 350px;
  margin-left: 140px;
  margin-bottom: 20px;
  transition: 0.5s; }
  #marcas__imagenFord:hover {
    transform: scale(1.3, 1.3); }

#marcas__imagenChevrolet {
  height: 110px;
  width: 325px;
  margin-top: 30px;
  transition: 0.5s; }
  #marcas__imagenChevrolet:hover {
    transform: scale(1.3, 1.3); }

#marcas__imagenBmw {
  height: 150px;
  width: 300px;
  margin-top: 10px;
  transition: 0.5s; }
  #marcas__imagenBmw:hover {
    transform: scale(1.3, 1.3); }

#proveedores {
  background-color: #F5EDED;
  padding-bottom: 50px;
  background-image: linear-gradient(black, rgba(0, 0, 0, 0.507)), url(../images/espirales.jpg);
  background-position: center;
  height: 350px; }

#proveedores__titulo {
  margin-top: 40px;
  margin-bottom: 15x; }

.proveedores__imagen302, .proveedores__imagenone {
  height: 100px;
  width: 350px; }

#logoIg {
  height: 50px;
  width: 50px;
  margin-left: 1250px; }

@media (max-width: 400px) {
  .principal__imagen {
    height: 150px;
    margin-left: 0px; }
  #nosotros__imagen {
    display: none; }
  .nosotros__p {
    margin-top: 2px;
    margin-bottom: 6px;
    margin-right: 30px; }
  #marcas {
    display: flex;
    flex-direction: column;
    align-content: space-between; }
  #marcas__titulo, #proveedores__titulo {
    font-size: 20px; }
  #marcas__imagenes {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-content: center; }
  #marcas__imagenBmw {
    width: 250px;
    margin-left: 35px; }
  #marcas__imagenFord {
    width: 290px;
    margin-left: 25px; }
  #marcas__imagenChevrolet {
    margin-top: 35px;
    margin-left: 40px;
    width: 250px; }
  .proveedores__imagenOne {
    margin-left: 60px;
    margin-top: 20px; }
  .proveedores__imagen302, .proveedores__imagenone {
    margin-left: 20px; } }

#servicios__titulo {
  display: flex;
  justify-content: center;
  height: 250px;
  padding-top: 80px;
  margin-bottom: 20px;
  font-style: normal;
  color: #F5EDED;
  font-size: 50px;
  background-image: linear-gradient(black, rgba(0, 0, 0, 0.507)), url(../images/tablero.jpg);
  background-position: center; }

.card-group .card {
  background-color: #3E3636; }

.card-group h2 {
  color: #F5EDED;
  font-size: 25px; }

.card-group .card-text {
  font-size: 15px;
  text-align: justify;
  color: #F5EDED; }

.card-img-top {
  height: 550px; }

.btn {
  margin-top: 50px;
  display: flex;
  justify-content: center; }

#logoIg {
  height: 50px;
  width: 50px;
  margin-left: 1250px;
  margin-bottom: 30px; }

#sinPadding {
  padding-right: 0px; }

#tituloGaleria {
  display: flex;
  justify-content: center;
  height: 250px;
  font-style: normal;
  color: #F5EDED;
  font-size: 50px;
  text-align: center;
  padding-top: 80px;
  margin-bottom: 20px;
  background-image: linear-gradient(black, rgba(0, 0, 0, 0.507));
  padding-right: 0px; }

#imagenes img {
  padding-right: 0px; }

#logoIg {
  height: 50px;
  width: 50px;
  margin-left: 1250px;
  margin-bottom: 30px; }

#fondoContacto {
  background-image: linear-gradient(black, rgba(0, 0, 0, 0.411)), url(../images/sdypared.jpg);
  background-position: center; }

#tituloContacto {
  font-style: normal;
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
  color: #F5EDED; }

form label {
  color: #F5EDED;
  font-size: 20px; }

form button {
  height: 30px;
  width: 150px;
  margin-bottom: 60px; }

#logoIg {
  height: 50px;
  width: 50px;
  margin-left: 1250px;
  margin-bottom: 30px; }

@media (max-width: 360px) {
  #formulario {
    margin-top: 50px;
    margin-bottom: 350px; }
  form label {
    font-size: 15px; } }

#tituloDonde {
  color: #F5EDED;
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 30px;
  padding-right: 0px; }

#googleImg {
  height: 100px;
  width: 250px;
  margin-top: 50px;
  padding-right: 0px; }

#reviewImg {
  height: 150px;
  width: 200px;
  border: solid black 1px;
  border-radius: 10px;
  margin-bottom: 20px; }

#logoIg {
  height: 50px;
  width: 50px;
  margin-left: 1250px;
  margin-bottom: 30px; }

@media (max-width: 400px) {
  #reviewImg {
    margin-left: 90px; }
  #googleimg {
    margin-left: 50px; } }
