#inicio{
    margin-left: 40px;
    font-size: 21px;
    text-decoration: none;
    padding: 8px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    cursor: pointer;
}
#inicio:hover{
    background-color: #D72323;
    transition: 1s;
    padding: 2px;
}
#header nav ul li a{
    font-size: 21px;
    text-decoration: none;
    padding: 8px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    cursor: pointer;
}
#header nav ul li a:hover{
    background-color: #D72323;
    transition: 1s;
    padding: 2px;
}