#fondoContacto{
    background-image:linear-gradient(black,rgba(0, 0, 0, 0.411)), url(../images/sdypared.jpg);
    background-position:center;    
}
#tituloContacto{
    font-style: normal;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-left: 570px;
    color: $color-letra;
}
.form{
    display: flex;
    justify-content: center;
}
#formulario{
    height: 100vh;
    background-image: linear-gradient(to bottom, white, rgba(167, 164, 164, 0.699));
    font-family: 'Anton', sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;  
    color: #020202;
    border: solid black 2px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulario legend{
    text-align: center;
}
#logoIg{
    @include formato(50px, 50px);
    margin-left: 1250px;
    margin-bottom: 30px;    
}
@media (max-width: 360px){
    #formulario{
        margin-top: 50px;
        margin-bottom: 350px;
    }
    #tituloContacto{
        margin-left: 90px;
    }
    
}