#fondoContacto{
    background-image:linear-gradient(black,rgba(0, 0, 0, 0.411)), url(../images/sdypared.jpg);
    background-position:center;
    overflow-x: hidden;    
}
#tituloContacto{
    font-style: normal;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    color: $color-letra;
}
form{
    label{
        color: $color-letra;
        font-size: 20px;

    }
    button{
        @include formato(150px,30px);
        margin-bottom: 60px;

    }
}
@media (max-width: 414px){
    #formulario{
        margin-top: 50px;
        margin-bottom: 350px;
    }
    form{
        label{
            font-size: 15px;
        }

    }

}