#dondeEstamos{
    padding-right: 0px;
    overflow-x: hidden;
}
#tituloDonde{
    color: $color-letra;
    font-size: 50px;   
    margin-top: 50px;
    margin-bottom: 30px;
    padding-right: 0px;
}
#googleImg{
    @include formato(250px, 100px);
    margin-top: 50px;
    padding-right: 0px;
}
#reviewImg{
    @include formato(200px, 150px);
    border: solid black 1px;
    border-radius: 10px;
    margin-bottom: 20px;
}
#logoIg{
    @include formato(50px, 50px);
    margin-left: 1250px;
    margin-bottom: 30px;    
}
@media (max-width: 414px){
    #reviewImg{
        margin-left: 100px;  
    }
    #googleimg{
        margin-left: 50px;
    }
    #tituloDonde{
        font-size: 40px;
    }
}