#sinPadding{
    padding-right: 0px;
    overflow-x: hidden;
}
#tituloGaleria{
    font-family: 'Bebas Neue', cursive;
    display: flex;
    justify-content: center;
    height: 250px;
    font-style: normal;
    color: $color-letra;
    font-size: 65px;
    text-align:center;
    padding-top: 80px;
    margin-bottom: 20px;
    background-image: linear-gradient(black, rgba(0, 0, 0, 0.507));   
    padding-right: 0px;
}
#imagenes{
    img{
        padding-right: 0px;
    }
}

@media (max-width: 414px){
    #tituloGaleria{
        font-size: 40px;
    }
}