#servicios{
    overflow-x: hidden;
}
#servicios__titulo{
    font-family: 'Bebas Neue', cursive;
    display: flex;
    justify-content: center;
    height: 250px;
    padding-top: 80px;
    margin-bottom: 20px;
    font-style: normal;
    color: $color-letra;
    font-size: 65px;
    background-image: linear-gradient(black, rgba(0, 0, 0, 0.507)), url(../images/tablero.jpg);
    background-position: center;    
}
.card-group{
    .card{
        background-color: $color-principal;
    }
        h2{
            color: $color-letra;
            font-size: 35px;
            font-family: 'Bebas Neue', cursive;
        }
        .card-text{
            font-size: 15px;
            text-align: justify;
            color: $color-letra;
        }
}
.card-img-top{
    height: 550px;
}
.btn{
    margin-top: 50px;
    display: flex;
    justify-content: center;
} 