#menuFooter ul li{
    display: flex;
    justify-content:end;
        margin-top: 10px;          
        list-style: none;
            a{
            font-weight: bold;
            font-size: 10px;
            color: $color-letra;
            text-decoration: none;    
            }
    }        
#redes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
        h3{
            color: $color-letra;
        }
}
#derechos{
    text-align: center;
    color: $color-letra;
    margin-bottom: 1px;
    font-size: 10px;
    font-weight: bold;
    margin-top: 0px; 
}
#logoWsp{
    @include formato(30px,30px);
}
#logoFace{
    @include formato(30px,30px);
}
#logoIgFooter{
    @include formato(30px,30px);
}
footer{
    background-color: #641515;
}

@media (max-width:414px){
    #menuFooter ul li{
        display: flex;
        justify-content: center;
    }
    #redes{
        margin-top: 10px;
    }
}