#inicio{
        
    margin-left: 80px;
    font-size: 21px;
    text-decoration: none;
    padding: 8px;
    color: $color-letra;
    text-transform: uppercase;
    cursor: pointer;
            &:hover{
                    background-color: #D72323;
                    transition: 1s;                    
                }
}
#header nav ul li a{
    font-size: 21px;
    text-decoration: none;
    padding: 8px;
    color: $color-letra;
    text-transform: uppercase;
    cursor: pointer;
            &:hover{
                    background-color: #D72323;
                    transition: 1s;
            }
}
#logoMenu{
     @include formato(400px,80px);
}

